.theme-color {
    color: rgb(80, 80, 80); 
    background-color: #fcd98d;
    /* background: radial-gradient(rgb(253, 226, 226), rgb(248, 220, 220)); */
}

.base-color {
    color: rgb(255, 255, 255);
    background-color: #F9D27D;
}

.mark{
    color: rgb(146, 146, 146);
    background-color: #ffffff;
}

.gap{
    background-color: #dab76e;
}

.font {
    font-weight: bold;
}

.outer-shadow {
    box-shadow: #e6bc64 0 0 15px;
}

.inner-shadow {
    box-shadow: #e6bc64 0 0 5px inset;
}

.down-shadow {
    box-shadow: #e6bc64 0 3px 3px;
}

.up-shadow {
    box-shadow: #e6bc64 0 -3px 3px;
}

.radiu {
    border-radius: 15px;
}

.point {
    cursor: pointer;
    transition: all .3s;
}

.point:hover{
    background-color: #e6bc64;
}