@font-face {
    font-family: '汉仪中秀体简';
    src: url('./HYZhongXiuTiJ.ttf') format("ttf")
}

.theme-color {
    color: rgb(80, 80, 80); // 石墨黑
    background-color: #ffffff; // 象牙白
}

.base-color {
    color: rgb(80, 80, 80); // 石墨黑
    background-color: #ffffff; // 象牙白
}

.font {
    font-family: '汉仪中秀体简';
    font-weight: bold;
}

.outer-shadow {
    box-shadow: rgb(210, 210, 210) 0 0 10px;
}

.inner-shadow {
    box-shadow: rgb(230, 230, 230) 0 0 5px inset;
}

.down-shadow {
    box-shadow: rgb(230, 230, 230) 0 3px 3px;
}

.up-shadow {
    box-shadow: rgb(230, 230, 230) 0 -3px 3px;
}

.radiu {
    border-radius: 15px;
}