@font-face {
    font-family: 'hanyi';
    src: url("../../../assets/theme/white/HYZhongXiuTiJ.ttf") format("truetype")
}

.theme-color {
    color: rgb(243, 55, 55); 
    background-image: linear-gradient(to bottom, #000000, #5f5f5f, #000000);
}

.base-color {
    color: rgb(207, 207, 207); 
    background-image: repeating-linear-gradient(45deg, #000000 20px, #b1b1b1 20px, #464646 20px, #363636 20px, #000000 30px);
}

.mark{
    background-color: #cfcd42;
}

.font {
    font-family: 'hanyi';
    font-weight: bold;
}

.outer-shadow {
    box-shadow: rgb(210, 210, 210) 0 0 10px;
}

.inner-shadow {
    box-shadow: rgb(230, 230, 230) 0 0 5px inset;
}

.down-shadow {
    box-shadow: rgb(230, 230, 230) 0 3px 3px;
}

.up-shadow {
    box-shadow: rgb(230, 230, 230) 0 -3px 3px;
}

.radiu {
    border-radius: 15px;
}